##version: '3.8'

services:
  django_gunicorn:
    volumes:
      - static:/static
    env_file:
      - .env.dev
    build:
      context: .
    ports:
      - "8000:8000"
  nginx:
    build: ./nginx
    volumes:
      - static:/static
    ports:
      - "8080:8000"
    depends_on:
      - django_gunicorn

volumes:
  static:
